<div class="main-container surface-page common-inner-card">

  <div class="container">
  </div>


  <div class="breadcrum">
    <div class="container">
      <p><a href="javascript:void(0)" [routerLink]="['/home']">Home</a> <span>/</span>Retrofit Spares</p>
    </div>
  </div>


  <div class="pumps-sel-sec">
    <div class="container">
      <div class="common-title">
        <h2> {{defaultSelected.name}}</h2>
      </div>

      <div class="pumps-sel">

        <div class="pumps-sec" *ngFor="let eachSubSpare of retroSparesDetails">
          <a href="javascript:void(0)" [routerLink]="['/retroSpares', eachSubSpare?.id]"
            style="text-decoration:none">{{eachSubSpare?.title}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
