.progress-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  background: #ECF3F6;
  padding: 15px;
  margin-bottom: 10px; }
  .progress-row .progress-pic img {
    width: 54px;
    height: 46px;
    margin: 0 15px 0 0; }
  .progress-row .right-progress {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 89%;
    flex: 0 0 89%;
    max-width: 89%;
    width: 100%; }
    .progress-row .right-progress .top-progress {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .progress-row .right-progress .top-progress h3 {
        margin: 0;
        font-size: 16px; }
    .progress-row .right-progress .mid-progress {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 15px 0 0 0; }
      .progress-row .right-progress .mid-progress .num-change {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        .progress-row .right-progress .mid-progress .num-change span {
          background: #05294E;
          width: 36px;
          display: inline-block;
          height: 26px;
          margin: 0 0 0 0;
          color: #fff;
          text-align: center;
          font-size: 15px;
          font-weight: 500; }
        .progress-row .right-progress .mid-progress .num-change input {
          max-width: -webkit-max-content;
          max-width: -moz-max-content;
          max-width: max-content;
          width: 37px;
          text-align: center;
          border: none;
          height: 26px;
          margin: 0 8px; }
      .progress-row .right-progress .mid-progress p {
        color: rgba(0, 0, 0, 0.5); }
    .progress-row .right-progress .select-box-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      margin: 30px 0 5px;
      max-width: 100%;
      width: 100%; }
