<div class="main-container homepage">
  <app-banner></app-banner>

  <div class="roto-retro">
    <div class="container">
      <div class="roto-box-section" id="rotofit">
        <div class="common-title">
          <h2>Roto Pumps & Spares</h2>
        </div>

        <div class="box-section-inner">
          <div class="card" *ngFor="let eachProduct of productData">
            <a href="javascript:void(0)" (click)="routeChange(eachProduct?.name, eachProduct?.id)">
              <div class="dummy-pic">
                <img [src]="eachProduct?.imageUrl" />
              </div>
              <div class="card-title">
                <h3>{{ eachProduct?.name | titlecase }}</h3>
              </div>
            </a>
            <a style="cursor: pointer; text-align: center; display: block" (click)="readMore(eachProduct?.name)"
              [ngStyle]="{
                visibility:
                  eachProduct?.name === 'Roto Spares' ? 'hidden' : 'visible'
              }">
              Read More...</a>
          </div>

          <div class="card">
            <a href="javascript:void(0)" [routerLink]="['/retrospares']">
              <div class="dummy-pic">
                <img src="assets/images/card-images/retro-card.jpg" />
              </div>
              <div class="card-title">
                <h3>Retrofit Spares</h3>
                <!-- <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis
                  enim velit mollit. </p> -->
              </div>
            </a>
            <a style="cursor: pointer; text-align: center; display: block" [routerLink]="['/retrofit-spare-parts']">Read
              More...</a>
          </div>
        </div>

        <div class="common-title">
          <h2>Most Trending Products</h2>
        </div>
        <!--Product Slider-->
        <div class="container">
          <div class="row">
            <div class="well">
              <div id="productCarousel" class="carousel slide" data-interval="5000">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="row">
                      <div class="col-md-3" *ngFor="let eachTrendingProduct of mostTrendingProducts">
                        <a [routerLink]= "eachTrendingProduct?.routePath">
                          <div class="thumbnail">
                            <div class="image-cover">
                              <img [src]= "eachTrendingProduct?.imgSrc" alt="Slide1" />
                            </div>
                          </div>
                        </a>
                        <div class="caption">
                          <h6>{{ eachTrendingProduct?.description }}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#productCarousel" data-slide="prev"><i
                    class="fa fa-chevron-left fa-2x"></i></a>
                <a class="right carousel-control" href="#productCarousel" data-slide="next"><i
                    class="fa fa-chevron-right fa-2x"></i></a>

                <!-- <ol class="carousel-indicators">
                        <li data-target="#productCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#productCarousel" data-slide-to="1"></li>
                        <li data-target="#productCarousel" data-slide-to="2"></li>
                </ol> -->
              </div>
              <!-- End Carousel -->
            </div>
            <!-- End Well -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>