<div class="main-container homepage">
  <app-banner></app-banner>

  <div class="roto-retro">
    <div class="container">
      <div class="roto-box-section" id="rotofit">
        <div class="common-title">
          <h2>Roto Pumps & Spares</h2>
        </div>

        <div class="box-section-inner">
          <div class="card" *ngFor="let eachProduct of productData">
            <a href="javascript:void(0)" (click)="routeChange(eachProduct?.name, eachProduct?.id)">
              <div class="dummy-pic">
                <img [src]="eachProduct?.imageUrl" />
              </div>
              <div class="card-title">
                <h3>{{ eachProduct?.name | titlecase }}</h3>
              </div>
            </a>
            <a style="cursor: pointer; text-align: center; display: block" (click)="readMore(eachProduct?.name)"
              [ngStyle]="{
                visibility:
                  eachProduct?.name === 'Roto Spares' ? 'hidden' : 'visible'
              }">
              Read More...</a>
          </div>

          <div class="card">
            <a href="javascript:void(0)" [routerLink]="['/retrospares']">
              <div class="dummy-pic">
                <img src="assets/images/card-images/retro-card.jpg" />
              </div>
              <div class="card-title">
                <h3>Retrofit Spares</h3>
              </div>
            </a>
            <a style="cursor: pointer; text-align: center; display: block" [routerLink]="['/retrofit-spare-parts']">Read
              More...</a>
          </div>
        </div>

        <div class="common-title">
          <h2>Most Trending Products</h2>
        </div>
        <div class="container">
          <div class="well" id="productCarousel">
            <owl-carousel-o [options]="customOptions">
              <ng-container *ngFor="let eachTrendingProduct of mostTrendingProducts">
                <ng-template carouselSlide [id]="eachTrendingProduct.id">
                  <a [routerLink]= "eachTrendingProduct?.routePath" [queryParams]="{model: eachTrendingProduct?.code}">
                    <div class="thumbnail">
                      <div class="image-cover">
                        <img [src]= "eachTrendingProduct?.imgSrc" alt="eachTrendingProduct?.description" />
                      </div>
                    </div>
                  </a>
                  <div class="caption">
                    <h6>{{ eachTrendingProduct?.description }}</h6>
                  </div>
                </ng-template>
              </ng-container>
            </owl-carousel-o>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>