<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="assets/images/mainpageimages/roto-pumps-logo.png" alt="Roto Pumps" title="Roto Pumps" /></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
      </div>
      <div class="logo-right">
        <a class="navbar-brand" href="#"><img src="assets/images/mainpageimages/tirrana-logo.png" alt="Roto Pumps" title="Roto Pumps" /></a>
      </div>
    </div>
  </nav>
  
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/mainpageimages/slide-1.jpg" class="d-block w-100" alt="Roto Pumps" title="Roto Pumps">
      </div>
      <div class="carousel-item">
        <img src="assets/images/mainpageimages/slide-1.jpg" class="d-block w-100" alt="Roto Pumps" title="Roto Pumps">
      </div>
      <div class="carousel-item">
        <img src="assets/images/mainpageimages/slide-1.jpg" class="d-block w-100" alt="Roto Pumps" title="Roto Pumps">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
    <div class="container">
  
      <div class="cta-form" id="cta-form">
        <form>
          <div class="form-col-1">
  
            <input type="text" placeholder="Name">
          </div>
  
          <div class="form-col-1">
  
            <input type="text" placeholder="Your Email">
          </div>
          <div class="form-col-1">
  
            <input type="text" placeholder="Your Phone No.">
          </div>
  <div class="form-col-1">
  
            <input type="text" placeholder="Company">
          </div>
  
          <div class="form-col-1">
  
            <select>
              <option>Enquiry For</option>
              <option>Tirrana Agricultural Pumps</option>
              <option>Multipurpose Pump Range</option>
              <option>Retrofit Spare Parts</option>
              <option>Roto Spares</option>
  
            </select>
          </div>
          <input type="submit" value="SUBMIT">
        </form>
      </div>
  
  
      <div class="key-capabilities">
        <p class="about-text">
          2001, Roto Pumps Ltd. established a branch in Melbourne, Australia with warehouse and assembly infrastructure to provide positive displacement pump solutions to various industries. The facility was established with an aim to cater to the growing markets of Australia and New Zealand. <br><br>
  
      To gain a strong foothold in the Australian Market, Roto Pumps focused on providing customized engineered pump packages, strong service support and ensuring ready availability with optimum stock levels of Pumps & spares. Also, Roto Pumps Australia has established an extensive network of distributors and channel partners.<br><br>
  
      18 years of experience in the Australian market, Roto Pumps have demonstrated its expertise in application engineering i.e. understanding of complex pumping requirements, handling critical media, optimizing pump life cycle cost. Also, we have supplied and installed thousands of high quality Helical Rotor Positive Displacement pumps and the spare parts.<br><br>
      Key Capabilities of Roto Pumps Australia
        </p>
        <ul>
          <li>18 years of strong presence in Australia</li>
          <li>State-of-the-art Manufacturing Infrastructure</li>
          <li>Readily available pump & parts stock (including other brands)</li>
          <li>Huge Warehouse facility ensuring on-time delivery to customers</li>
          <li>Robust supply chain network with localized sales support</li>
          <li>Cost-effective & customized engineered packages</li>
          <li>Expertise of handling more than 5000 fluids across 25+ industries</li>
          <li>Strong sales & service support team in Australia</li>
        </ul>
      </div>
      <div class="key-capabilities-image">
        <img src="assets/images/mainpageimages/ra-office.jpeg" alt="Roto Pumps" title="Roto Pumps" />
      </div>
  
      <div class="clear"></div>
  
      <h2>Roto Pumps & Spares</h2>
      <div class="product">
        <div class="product-text">
          <h3>Tirrana Agricultural Pumps</h3>
          <p>
            Built on heavy-duty and proven platform. The Tirrana range of helical rotor pumps offers peace of mind and best solutions to all types of surface water transfer duties.<br>
            Capacity: 360 LPM<br>
            Head: 120 m<br>
          </p>
          <div class="product-features">
            <p>Applications:</p>
            <ul>
              <li>Ideal for tank filling or stock watering from dams, creeks, wells and rivers.</li>
              <li>Can handle clean water, brown water, dirty water with sand, silt or algae.</li>
              <li>High Suction Lift Applications</li>
              <li>Viscous, Abrasive & Solid Laden Media</li>
              <li>High / Varying Discharge Pressures Applications</li>
              <li>Dirty / Salty Water</li>
              <li>Dairy effluent pumping</li>
              <li>Green water pumping</li>
              <li>Raw effluent pumping</li>
              <li>Animal effluent pumping</li>
              <li>Dirty water with sand, silt and algae</li>
              <li>Molasses transfer</li>
            </ul>
          </div>
        </div>
        <div class="product-image">
          <img src="assets/images/mainpageimages/tirrana-pump.jpg" alt="Tirrana Pump | Roto Pumps" title="Tirrana Pump | Roto Pumps" />
        </div>
      </div>
      <div class="clear"></div>
      <div class="product">
        <div class="product-image">
          <img src="assets/images/mainpageimages/blaster-dc.jpg" alt="Blaster DC | Roto Pumps" title="Blaster DC | Roto Pumps" />
        </div>
        <div class="product-text">
          <h3>Multipurpose Pump Range</h3>
          <p>
            Roto’s Little Master Blaster DC Series Pump has been widely acknowledged across agricultural industries for its superior flow rates and high suction lift capabilities. These multipurpose pumps can be used for dosing, transfer, and injection duties for varied liquids. Roto DC Pumps are compact, lightweight, and easy to maintain. These pumps are used for varied applications such as Feeding ponds and sprinkler systems, Automatic water pressure systems, Hosing down of cattle and stock sheds, Drawing water from wells, creeks, or shallow bores, etc.<br>
            Capacity: up to 115 LPM<br>
            Head: up to 60 m<br>
          </p>
          <div class="product-features">
            <p>Applications:</p>
            <ul>
              <li>Feeding ponds and sprinkler systems</li>
              <li>Automatic water pressure systems</li>
              <li>Hosing down of cattle and stock sheds</li>
              <li>Drawing water from wells, creeks or shallow bores, etc.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <h2>Retrofit Parts for Progressive Cavity Pumps</h2>
      <div class="subtext">Roto ensures strict in-house process control and stringent quility checks for designing & manufacturing of the highest quality retrofit spares having a long life cycle. We understand the criticality of our customer’s operation, thus we always make sure to provide on-time delivery of spares while keeping ex-stock readily available.</div>
      <div class="product">
        <div class="product-text">
          <h3>Rotor</h3>
          <p>
            Right material conforming to international standards combined with special heat treatment and hard chrome plating technology. We at Roto Pumps ensure that dimensions and critical tolerances are maintained for all rotors.<br>
          </p>
          <div class="product-features">
            <p>Material Options for Rotor</p>
            <ul>
              <li>Carbon Steel.</li>
              <li>Tool Steel.</li>
              <li>Stainless Steel.</li>
              <li>Haste alloy Duplex</li>
              <li>Super Duplex.</li>
            </ul>
          </div>
        </div>
        <div class="product-image">
          <img src="assets/images/mainpageimages/rotors.jpg" alt="Roto Spare | Roto Pumps" title="Roto Spare | Roto Pumps" />
        </div>
      </div>
      <div class="clear"></div>
      <div class="product">
        <div class="product-image">
          <img src="assets/images/mainpageimages/stator.jpg" alt="Retrofit | Roto Pumps" title="Retrofit | Roto Pumps" />
        </div>
        <div class="product-text">
          <h3>Stator</h3>
          <p>
            Micronic accuracy moulds and advanced compound technology perfected by Roto are used to produce high quality stators having desired properties.
          </p>
          <div class="product-features">
            <p>Material Options for Stator:</p>
            <ul>
              <li>Natural.</li>
              <li>Nitrile</li>
              <li>High Nitrile</li>
              <li>Food Grade White Nitrile.</li>
              <li>HNBR.</li>
              <li>Fluoro Elastomer.</li>
              <li>Food Grade White Fluoro Elastomer & AFLAS.</li>
              <li>Tubing can be in Mild Steel SS 04, SS 316.</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <h2>Other parts</h2>
      <div class="subtext">Full range of coupling rods, shafts, universal joint kits are also available for all brands.</div>
      <div class="clear"></div>
      <div class="product">
        <div class="product-text">
          <h3 style="font-weight: 400;">Coating options:</h3>
          <p>
            Hard chrome plating, Roto chrome and special hard coatings.
          </p>
          <div class="product-features">
            <p>Material Options for Universal Joint Parts</p>
            <ul>
              <li>Material Options for Universal Joint Parts</li>
              <li>Shaft- Alloy Steel HCP, Stainless Steel UP/HCP.</li>
              <li>Universal Joint Parts- Stainless Steel, Tool Steel and Exotic Alloys.</li>
              <li>Special Material- Other Exotic Options Including Alloy 20, Haste Alloy Duplex/Super Duplex Also Available.</li>
            </ul>
          </div>
        </div>
      </div>
  <div class="product">
        <div class="product-image">
          <img src="assets/images/mainpageimages/other-spare-parts.jpg" alt="Retrofit | Roto Pumps" title="Retrofit | Roto Pumps" />
        </div>
      <div class="clear"></div>
  
      <a href="#cta-form">
        <div class="cta-button">
          SEND QUERY
        </div>
      </a>
  
  
  
      <div class="clear"></div>
      <h2>Testimonials</h2>
      <ul class="awards-list">
        <li><iframe width="100%" height="260" src="https://www.youtube.com/embed/8ljfJvSmWRM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li><iframe width="100%" height="260" src="https://www.youtube.com/embed/p1oQTFbjyb4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li><iframe width="100%" height="260" src="https://www.youtube.com/embed/SnwmdYYXUjI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
      </ul>
    </div>
  
  <div class="clear"></div>
  
    <footer>
      <div class="contact-details">26, Deans Court, Dandenong South, Victoria 3175  |  +61 397945200  |  sales@rotopumps.com.au</div>
      <div class="copyright">&copy; All Rights Reserved 2021</div>
    </footer>
  