<div class="homepage" style="background: #fff">
  <div>
    <div class="container"></div>
  </div>
  <div class="sign-up">
    <div class="sign-up-form signUpPage">
      <form [formGroup]="loginForm" (ngSubmit)="submitSignInForm(loginForm)">
        <div class="sign-up-title">
          <h2>Sign In</h2>
          <!-- <p>Welcome back</p> -->
        </div>

        <div
          class="sign-field"
          [ngClass]="
            (formControl?.email?.errors?.pattern ||
              formControl?.email?.errors?.required) &&
            (formControl?.email?.touched || formControl?.email?.dirty)
              ? 'wrong-inp'
              : formControl?.email?.valid &&
                (formControl?.email?.touched || formControl?.email?.dirty)
              ? 'right-inp'
              : ''
          "
        >
          <div class="sign-input">
            <input
              type="text"
              placeholder="Enter Your Email"
              formControlName="email"
              required
            />
            <img
              *ngIf="
                formControl?.email?.valid &&
                (formControl?.email?.touched || formControl?.email?.dirty)
              "
              src="assets/images/icons/tick.png"
            />
            <img
              *ngIf="
                formControl?.email?.invalid &&
                (formControl?.email?.touched || formControl?.email?.dirty)
              "
              src="assets/images/icons/clear.png"
            />
          </div>
        </div>
        <ng-container
          *ngIf="
            formControl?.email?.invalid &&
            (formControl?.email?.touched || formControl?.email?.dirty)
          "
        >
          <p class="error-msg" *ngIf="formControl?.email?.errors.required">
            Email Is Required
          </p>
          <p class="error-msg" *ngIf="formControl?.email?.errors.pattern">
            Enter valid email(abc@abc.abc)
          </p>
        </ng-container>

        <div
          class="sign-field"
          [ngClass]="
            formControl?.password?.invalid &&
            (formControl?.password?.touched || formControl?.password?.dirty)
              ? 'wrong-inp'
              : formControl?.password?.valid &&
                (formControl?.password?.touched || formControl?.password?.dirty)
              ? 'right-inp'
              : ''
          "
        >
          <div class="sign-input">
            <input
              type="password"
              placeholder="Enter Your Password"
              formControlName="password"
              required
            />
            <img
              *ngIf="
                formControl?.password?.valid &&
                (formControl?.password?.touched || formControl?.password?.dirty)
              "
              src="assets/images/icons/tick.png"
            />
            <img
              *ngIf="
                formControl?.password?.invalid &&
                (formControl?.password?.touched || formControl?.password?.dirty)
              "
              src="assets/images/icons/clear.png"
            />
          </div>
        </div>
        <ng-container
          *ngIf="
            formControl?.password?.invalid &&
            (formControl?.password?.touched || formControl?.password?.dirty)
          "
        >
          <p class="error-msg" *ngIf="formControl?.password?.errors.required">
            Password Is Required
          </p>
          <p class="error-msg" *ngIf="formControl?.password?.errors.minlength">
            Password Must Be of min 6 characters
          </p>
        </ng-container>

        <div class="remember-section">
          <!-- <span>
          <input type="checkbox" id="rem">
          <label for="rem">Remember me</label>
        </span> -->
          <span>
            <a href="javascript:void(0)" [routerLink]="['/forget-password']"
              >Forgot Password?</a
            >
          </span>
        </div>
        <button type="submit">Sign in</button>
        <div class="already-acc">
          Don't have an account?
          <a href="javascript:void(0)" (click)="signUp()">Sign Up</a>
        </div>
      </form>
    </div>

    <!-- <div class="sign-img">
    <img src="assets/images/card-images/Signin_Image.png">
  </div> -->
  </div>
</div>
