<div class="main-container about-page">
    <app-banner></app-banner>
    <div class="container" style="padding-top: 40px;">
        <button type="button" class="btn btn-primary" [routerLink]="['/home']">Go to home</button>
        <div class="card-title">
            <h3 style="text-align: center; position: relative;">Tirrana Agricultural Pump</h3>
        </div>

        <div>
            <div class="row">
                <div class="text-part col-sm-6">
                    <div class="vc_column-inner">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element mx-2 ">
                                <div class="wpb_wrapper px-5">
                                    <h3>Tirrana Agricultural Range</h3>
                                    <p>Bu
                                        ilt on heavy-duty and proven platform. The Tirrana range of helical rotor pumps
                                        offers peace of mind and best solutions to all types of surface water transfer
                                        duties.<br>
                                        <strong>Capacity: 360 LPM</strong><br>
                                        <strong>Head: 120 m</strong>
                                    </p>
                                    <p>&nbsp;</p>
                                    <h3>Why Tirrana is your go to pump?</h3>
                                    <ul>
                                        <li>Ensuring Smooth flow of Water, Viscous, Abrasive &amp; Shear Sensitive Media
                                        </li>
                                        <li>Fair Pricing Policy for Pumps &amp; Spares</li>
                                        <li>Readily Available Pump and Spares Stock</li>
                                        <li>Robust Distributor Network</li>
                                        <li>24*7 Quick Service Support</li>
                                    </ul>
                                    <p>&nbsp;</p>
                                    <h3>Power Source</h3>
                                    <ul>
                                        <li>Close Coupled with Electric Motor (240V or 415V)</li>
                                        <li>Petrol / Diesel Drive Options</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="image-part col-sm-6">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_single_image wpb_content_element vc_align_center">
                                <div class="wpb_wrapper">
                                    <div class="vc_single_image-wrapper vc_box_border_grey"><img
                                            class="vc_single_image-img attachment-full"
                                            title="Tirrana Agricultural Range"
                                            src="https://www.rotopumps.com/wp-content/uploads/2020/11/1st.png"
                                            alt="Tirrana Agricultural Range"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>