<div class="homepage" style="background: #fff">
  
    
      
  <div class="sign-up">
    <div class="sign-up-form signUpPage">
      <form [formGroup]="signUpForm" (ngSubmit)="submitSignUpForm(signUpForm)">
        <div class="sign-up-title">
          
          <h2>Create Account</h2>
        
        </div>

        <div class="sign-field" [ngClass]="
            (formControl?.email?.errors?.pattern ||
              formControl?.email?.errors?.required) &&
            (formControl?.email?.touched || formControl?.email?.dirty)
              ? 'wrong-inp'
              : formControl?.email?.valid &&
                (formControl?.email?.touched || formControl?.email?.dirty)
              ? 'right-inp'
              : ''
          ">
          
          <div class="sign-input">
            <input type="email" placeholder="Enter Your Email Address Here" formControlName="email" required />
            <img *ngIf="
                formControl?.email?.valid &&
                (formControl?.email?.touched || formControl?.email?.dirty)
              " src="assets/images/icons/tick.png" />
            <img *ngIf="
                formControl?.email?.invalid &&
                (formControl?.email?.touched || formControl?.email?.dirty)
              " src="assets/images/icons/clear.png" />
          </div>
        </div>
        <ng-container *ngIf="
            formControl?.email?.invalid &&
            (formControl?.email?.touched || formControl?.email?.dirty)
          ">
          <p class="error-msg" *ngIf="formControl?.email?.errors.required">
            Email Is Required
          </p>
          <p class="error-msg" *ngIf="formControl?.email?.errors.pattern">
            Enter valid email(abc@abc.abc)
          </p>
        </ng-container>

        <div class="sign-field">
          <div class="radio-input">
            <div>
              <input type="radio" id="endUser" value="End User" formControlName="user_type" />
              <label for="endUser">End User</label>
            </div>
            <div>
              <input type="radio" id="dealer" value="Dealer" formControlName="user_type" />
              <label for="dealer">Dealer/Reseller</label>
            </div>
          </div>
        </div>

        <div class="sign-field" [ngClass]="
            formControl?.name?.errors?.required &&
            (formControl?.name?.touched || formControl?.name?.dirty)
              ? 'wrong-inp'
              : formControl?.name?.valid &&
                (formControl?.name?.touched || formControl?.name?.dirty)
              ? 'right-inp'
              : ''
          ">
          
          <div class="sign-input">
            <input type="text" placeholder="Enter Your Full Name Here" formControlName="name" appTextOnly required />
            <img *ngIf="
                formControl?.name?.valid &&
                (formControl?.name?.touched || formControl?.name?.dirty)
              " src="assets/images/icons/tick.png" />
            <img *ngIf="
                formControl?.name?.invalid &&
                (formControl?.name?.touched || formControl?.name?.dirty)
              " src="assets/images/icons/clear.png" />
          </div>
        </div>
        <ng-container *ngIf="
            formControl?.name?.invalid &&
            (formControl?.name?.touched || formControl?.name?.dirty)
          ">
          <p class="error-msg" *ngIf="formControl?.name?.errors.required">
            Name Is Required
          </p>
        </ng-container>

        <div class="sign-field" [ngClass]="
            formControl?.company_name?.invalid &&
            (formControl?.company_name?.touched ||
              formControl?.company_name?.dirty)
              ? 'wrong-inp'
              : formControl?.company_name?.valid &&
                (formControl?.company_name?.touched ||
                  formControl?.company_name?.dirty)
              ? 'right-inp'
              : ''
          ">
          
          <div class="sign-input">
            <input type="text" placeholder="Enter Company Name" formControlName="company_name" />
            <img *ngIf="
                formControl?.company_name?.valid &&
                (formControl?.company_name?.touched ||
                  formControl?.company_name?.dirty)
              " src="assets/images/icons/tick.png" />
            <img *ngIf="
                formControl?.company_name?.invalid &&
                (formControl?.company_name?.touched ||
                  formControl?.company_name?.dirty)
              " src="assets/images/icons/clear.png" />
          </div>
        </div>
        <ng-container *ngIf="
            formControl?.company_name?.invalid &&
            (formControl?.company_name?.touched ||
              formControl?.company_name?.dirty)
          ">
          <p class="error-msg" *ngIf="formControl?.company_name?.errors.minlength">
            Company Name Must Be of min 4 characters
          </p>
        </ng-container>

        <div class="sign-field" [ngClass]="
            formControl?.password?.invalid &&
            (formControl?.password?.touched || formControl?.password?.dirty)
              ? 'wrong-inp'
              : formControl?.password?.valid &&
                (formControl?.password?.touched || formControl?.password?.dirty)
              ? 'right-inp'
              : ''
          ">
          
          <div class="sign-input">
            <input type="password" placeholder="Enter Your Password" formControlName="password" required />
            <img *ngIf="
                formControl?.password.valid &&
                (formControl?.password?.touched || formControl?.password?.dirty)
              " src="assets/images/icons/tick.png" />
            <img *ngIf="
                formControl?.password.invalid &&
                (formControl?.password?.touched || formControl?.password?.dirty)
              " src="assets/images/icons/clear.png" />
          </div>
        </div>
        <ng-container *ngIf="
            formControl?.password?.invalid &&
            (formControl?.password?.touched || formControl?.password?.dirty)
          ">
          <p class="error-msg" *ngIf="formControl?.password?.errors.required">
            Password Is Required
          </p>
          <p class="error-msg" *ngIf="formControl?.password?.errors.minlength">
            Password Must Be of min 6 characters
          </p>
        </ng-container>

        <div class="sign-field" [ngClass]="
            formControl?.confirm_password?.invalid &&
            (formControl?.confirm_password?.touched ||
              formControl?.confirm_password?.dirty)
              ? 'wrong-inp'
              : formControl?.confirm_password?.valid &&
                (formControl?.confirm_password?.touched ||
                  formControl?.confirm_password?.dirty)
              ? 'right-inp'
              : ''
          ">
          
          <div class="sign-input">
            <input type="password" placeholder="Enter Confirm Password" formControlName="confirm_password" required />
            <img *ngIf="
                formControl?.confirm_password?.valid &&
                (formControl?.confirm_password?.touched ||
                  formControl?.confirm_password?.dirty)
              " src="assets/images/icons/tick.png" />
            <img *ngIf="
                formControl?.confirm_password?.invalid &&
                (formControl?.confirm_password?.touched ||
                  formControl?.confirm_password?.dirty)
              " src="assets/images/icons/clear.png" />
          </div>
        </div>
        <ng-container *ngIf="
            formControl?.confirm_password?.invalid &&
            (formControl?.confirm_password?.touched ||
              formControl?.confirm_password?.dirty)
          ">
          <p class="error-msg" *ngIf="formControl?.confirm_password?.errors.required">
            Confirm Password Is Required
          </p>
          <p class="error-msg" *ngIf="formControl?.confirm_password?.errors.minlength">
            Confirm Password Must Be of min 6 characters
          </p>
        </ng-container>
        <!-- <p class="error-msg" *ngIf="formControl?.confirm_password?.invalid && (formControl?.confirm_password?.touched || formControl?.confirm_password?.dirty)">Confirm Password Is Required</p> -->

        <button type="submit">Sign Up</button>
        <div class="already-acc">
          Already have an account?
          <a href="javascript:void(0)" [routerLink]="['/sign-in']">Sign In</a>
        </div>
      </form>
    </div>

    <!-- <div class="sign-img">
    <img src="assets/images/card-images/Signup_Image.png">
  </div> -->
  </div>
</div>