<ngx-spinner
  bdColor="rgb(0,0,0)"
  size="medium"
  color="#2e94ef"
  type="ball-newton-cradle"
  [fullScreen]="true"
  ><p style="color: white">Loading...</p></ngx-spinner
>

<div class="main-container cartpage addresspage paymentpage">
  <div class="breadcrum">
    <div class="container">
      <p>
        <a href="javascript:void(0)" [routerLink]="['/home']">Home</a> /
        <a href="javascript:void(0)" [routerLink]="['/cart']">Cart</a> / Payment
      </p>
    </div>
  </div>

  <div class="cart-scale">
    <div class="container">
      <div class="cart-scale-inner">
        <div class="scale-no active-scale">
          <a style="pointer-events: none">1</a><small>Cart</small>
        </div>
        <div class="scale-no">
          <a style="pointer-events: none">2</a><small>Address</small>
        </div>
        <div class="scale-no">
          <a style="pointer-events: none">3</a><small>Payment</small>
        </div>
      </div>
    </div>
  </div>

  <div class="cart-section">
    <div class="container">
      <div class="cart-inner">
        <div class="price-detail">
          <div class="price-row total-price" style="border-top: none">
            <div
              class="left-price-spare"
              *ngIf="!applyDealerDiscount; else elsePart"
            >
              <h3>Total Price(AUD)</h3>
              <h3>${{ total }}</h3>
            </div>
            <ng-template #elsePart>
              <div class="left-price-spare">
                <h3>Total Price(AUD)</h3>
                <h3>${{ total - dealerDiscountAmount }}</h3>
              </div>
            </ng-template>
            <!-- <div class="left-price-spare coupon-field">
              <input type="text" placeholder="Coupon Code" />
              <button class="coupon-btn">
                <a href="javascript:void(0)">Apply Coupon</a>
              </button>
            </div> -->
          </div>
        </div>

        <div class="cart">
          <div class="address-row full-address-row">
            <form [formGroup]="paymentForm">
              <div class="address-feild">
                <label>Card Information <span>*</span></label>
                <div
                  id="cc-number"
                  [ngClass]="
                    toggleCardNumberError ? 'cardErr' : 'address-feildCard'
                  "
                ></div>
                <p *ngIf="toggleCardNumberError" style="color: red !important">
                  {{ cardNumberError }}
                </p>
              </div>
              <div class="address-feild half-field">
                <div style="width: 50%">
                  <label>Exp. Month & Year <span>*</span></label>
                  <div
                    id="cc-exp-date"
                    [ngClass]="
                      toggleCardMonthError ? 'cardErr' : 'address-feildCard'
                    "
                  ></div>
                  <p *ngIf="toggleCardMonthError" style="color: red !important">
                    {{ cardMonthError }}
                  </p>
                </div>
                <div style="width: 50%">
                  <label> CVV <span>*</span></label>
                  <div
                    id="cc-cvc"
                    [ngClass]="
                      toggleCardCvvError ? 'cardErr' : 'address-feildCard'
                    "
                  ></div>
                  <p *ngIf="toggleCardCvvError" style="color: red !important">
                    {{ cardCvvError }}
                  </p>
                </div>
              </div>

              <div class="address-feild">
                <label>Name on Card <span>*</span></label>
                <input
                  type="text"
                  formControlName="cardUserName"
                  placeholder="Navodita Aggarwal"
                  required
                  [ngClass]="
                    (formControl?.cardUserName?.errors?.minlength ||
                      formControl?.cardUserName?.errors?.required) &&
                    (formControl?.cardUserName?.touched ||
                      formControl?.cardUserName?.dirty)
                      ? 'red'
                      : formControl?.cardUserName?.valid &&
                        (formControl?.cardUserName?.touched ||
                          formControl?.cardUserName?.dirty)
                      ? 'green'
                      : ''
                  "
                />
                <p
                  *ngIf="
                    (formControl?.cardUserName?.errors?.minlength ||
                      formControl?.cardUserName?.errors?.required) &&
                    (formControl?.cardUserName?.touched ||
                      formControl?.cardUserName?.dirty)
                  "
                  style="color: red"
                >
                  Name should be of minimum 5 characters
                </p>
              </div>
              <button *ngIf="!paymentLoading">
                <a
                  href="javascript:void(0)"
                  (click)="submitPaymentForm(paymentForm)"
                  >Pay ${{ total }}</a
                >
              </button>
              <button *ngIf="paymentLoading">
                <a href="javascript:void(0)"
                  ><span
                    class="spinner-border spinner-border-sm"
                    role="status"
                    aria-hidden="true"
                  ></span
                  >Payment Processing <i class="fas fa-spinner fa-spin"></i
                ></a>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
