<div class="main-container surface-page">
  <div class="container">
    <!-- <h2>Multi Purpose Pumps</h2> -->
  </div>

  <div class="breadcrum">
    <div class="container">
      <p><a href="javascript:void(0)" [routerLink]="['/home']">Home</a><span>/</span>Multi Purpose Pumps</p>
    </div>
  </div>

  <div class="pumps-sel-sec">
    <div class="container">
      <div class="pumps-sel">
        <div class="pumps-sec">Select a preferred pump type to start:</div>
        <div class="pumps-sec" *ngFor="let eachSubCategory of subCategories">
          <a href="javascript:void(0)" (click)="routeToPage(eachSubCategory?.title, eachSubCategory?.id, eachSubCategory?.category_id)" style="text-decoration:none">{{eachSubCategory?.title| titlecase}}</a>
        </div>
        <!-- <div class="pumps-sec active-pump"><a href="javascript:void(0)">Close Coupled Pump</a></div>
        <div class="pumps-sec"><a href="javascript:void(0)">Bare Shaft Pump</a></div> -->
      </div>
    </div>
  </div>

  <div class="surface-banner-sec">
    <div class="container">
      <div class="surface-banner-inner">
        <div class="row">
          <div class="col-md-6 section-1">
            <img src="assets/images/card-images/multi-pump.png">
          </div>
          <div class="col-md-6 multi-feature-sec">
            <h3>Features</h3>
            <ul>
              <li>Pressure upto 6m*</li>
              <li>Low shear and linear flow</li>
              <li>Excellent suction lift capabilities</li>
              <li>Can handle liquid with fine solids</li>
              <li>Can handle liquid with varying viscosity</li>
              <li>Flow is directly porpotional to the speed</li>
              <li>Minimum impact on efficiencies with varying heads</li>
            </ul>
          </div>
        </div>
        <div style="margin: 8px">
          <p>You can visit the site for more information:-
            <a href="https://rotopumps.com.au/tirrana-general-pump" target="blank">Multipurpose Pumps</a>
            <i class="fas fa-hand-point-left" style="position: absolute;margin-top: -3px;"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
