<div class="main-container about-page">
  <app-banner></app-banner>

  <div class="vc_custom_1560775701035">

    <div class="container">
      <div class="row">
        <div class="col-sm-12 wpb_wrapper">

          <button type="button" class="btn btn-primary" [routerLink]="['/home']">Go to home</button>
          <div class="card-title">
            <h3 style="text-align: center; position: relative;">Globally trusted retrofit parts for all leading
              Progressive Cavity
              Pump Manufacturers</h3>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top: 20px;">
        <div class="col-sm-6">
          <ul class="list-custom-heading" style="display: block">
            <li style="list-style: circle">
              High level of Quality and Interchangeability
            </li>
            <li style="list-style: circle">
              Ease of Operations and Complete peace of mind
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- ============== -->
  <div class="vc_row wpb_row vc_row-fluid vc_custom_1560775701035">
    <div class="container">
      <div class="row">
        <div class="col-sm-4 vc_column-inner_body">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                <div class="wpb_wrapper">
                  <div class="productpgbx retromn">
                    <a>
                      <div class="prdcptn">Rotors</div>
                      <div class="prdpicbx">
                        <img src="../../../../assets/images/rotors.jpeg" alt="" />
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 vc_column-inner_body">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                <div class="wpb_wrapper">
                  <div class="productpgbx retromn">
                    <a>
                      <div class="prdcptn">Stators</div>
                      <div class="prdpicbx">
                        <img src="../../../../assets/images/stators.jpeg" alt="" />
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4 vc_column-inner_body">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                <div class="wpb_wrapper">
                  <div class="productpgbx retromn">
                    <a>
                      <div class="prdcptn">Other Parts</div>
                      <div class="prdpicbx">
                        <img src="../../../../assets/images/universal-joint-parts.jpeg" alt="" />
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ============== -->
  <div class="container vc_tta-panel-body">
    <div class="row vc_column-inner">
      <div class="col-sm-3" id="col-box">
        <a class="paoc-popup popupaoc-button">E Range</a>
      </div>

      <div class="col-sm-3" id="col-box">
        <a>B Range- Long Pitch</a>
      </div>

      <div class="col-sm-3" id="col-box">
        <a>X Range</a>
      </div>

      <div class="col-sm-3" id=" col-box">
        <a>S Hygenic Range</a>
      </div>
    </div>

    <!--1-->

    <div class="row vc_column-inner">
      <div class="col-sm-3" id=" col-box">
        <a>C Compact Range- Long Pitch</a>
      </div>

      <div class="col-sm-3">
        <a>C Compact Range</a>
      </div>

      <div class="col-sm-3">
        <a>Merlin Range</a>
      </div>

      <div class="col-sm-3">
        <a>E Range- Long Pitch</a>
      </div>
    </div>
    <div class="row vc_column-inner">
      <div class="col-sm-3">
        <a>D Range</a>
      </div>

      <div class="col-sm-3">
        <a>SB Range</a>
      </div>

      <div class="col-sm-3">
        <a>L Range</a>
      </div>

      <div class="col-sm-3">
        <a>Mini Range</a>
      </div>
    </div>
  </div>
  <!-- ============== -->
  <div class="container vc_single_image_body">
    <div class="row">
      <div class="col-sm-6 vc_single_image-wrapper">
        <img width="100%" height="302" src="https://rotopumps.com.au/wp-content/uploads/2019/06/retrofit-advanced.jpg"
          class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="
            https://rotopumps.com.au/wp-content/uploads/2019/06/retrofit-advanced.jpg         672w,
            https://rotopumps.com.au/wp-content/uploads/2019/06/retrofit-advanced-300x135.jpg 300w
          " sizes="(max-width: 672px) 100vw, 672px" />
      </div>
      <div class="col-sm-6 vc_single_image-wrapper">
        <img width="100%" height="302" src="https://rotopumps.com.au/wp-content/uploads/2019/06/retrofitparts.jpg"
          class="vc_single_image-img attachment-full" alt="" loading="lazy" srcset="
            https://rotopumps.com.au/wp-content/uploads/2019/06/retrofitparts.jpg         672w,
            https://rotopumps.com.au/wp-content/uploads/2019/06/retrofitparts-300x135.jpg 300w
          " sizes="(max-width: 672px) 100vw, 672px" />
      </div>
    </div>
  </div>
  <!-- ============== -->
  <div class="vc_row wpb_row vc_row-fluid">
    <div class="container">
      <div class="row">
        <div class="wpb_column vc_column_container vc_col-sm-12">
          <div class="vc_column-inner">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element well">
                <div class="wpb_wrapper">
                  <p>
                    <strong>Note-</strong><br />
                    Netzsch®, Monoflo®, Seepex®, Moyno® &amp; Allweiler® are
                    registered trademarks of Netzsch Mohnopumpen GmbH, Mono
                    Pumps Ltd., Seeberger GmbH + Co KG, Robbins &amp; Myers,
                    Inc. &amp; Allweiler AG respectively. AFLAS® is a registered
                    product of Asahi Glass Co. Ltd., Japan. Roto Pumps is not an
                    authorised distributor of parts or services for Netzsch
                    Mohnopumpen GmbH’s, Monoflo, Seeberger GmbH’s, Robbins &amp;
                    Myer’s Inc. and Allweiler AG’s products. Roto Pumps Ltd.
                    products are not associated with, endorsed by, or sponsored
                    by any of these companies.
                  </p>
                  <p>
                    <b>Quality </b><b>systems:&nbsp;</b>Manufacturing units
                    certified for conformance to ISO 9001 : 2015.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>