.progress-row {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    // background: #ECF3F6;
    padding: 15px;
    margin-bottom: 10px;

    .progress-pic {
        img {
        width: 54px;
        height: 46px;
        margin: 0 15px 0 0;
    }
}

.right-progress {
    flex: 0 0 89%;
    max-width: 89%;
    width: 100%;

    .top-progress {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        h3{
            margin: 0;
            font-size:16px;
        }
    }

    .mid-progress{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin: 15px 0 0 0;
        .num-change {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            span{
                background: #05294E;
                width: 36px;
                display: inline-block;
                height: 26px;
                margin: 0 0 0 0;
                color: #fff;
                text-align: center;
                font-size: 15px;
                font-weight: 500;
            }
            input{
                max-width: -webkit-max-content;
                max-width: -moz-max-content;
                max-width: max-content;
                width: 37px;
                text-align: center;
                border: none;
                height: 26px;
                margin: 0 8px;
            }
        }
        p{
            color: rgba(0, 0, 0, .5);
        }
    }
    .select-box-inner {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 30px 0 5px;
        max-width: 100%;
        width: 100%;
@media screen and (max-width:767px){
            flex-wrap: wrap;
            max-width: 100%;
    }


    }
}
}
