.cartpage {
  padding-top: 25px;

  .epmtyCartImg {
    display: flex;
    justify-content: center;
  }

  .emptyCartMsg {
    text-align: center;
  }

  .emptyCartMsg a {
    cursor: pointer;
  }

  .cart-scale-inner {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 35px 0;

    .scale-no {
      flex-direction: column;
      display: flex;
      align-items: center;
      position: relative;
      width: 100%;
      a {
        width: 38px;
        height: 38px;
        background: #000;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #bdbdbd;
        border: solid 3px #fff;
      }
      small {
        margin: 5px 0 0 0;
      }

      &:before {
        position: absolute;
        content: "";
        width: 90%;
        height: 3px;
        background: #bdbdbd;
        right: 0;
        top: 18px;
        left: 209px;

        @media screen and (max-width: 800px) {
          left: 123px;
          width: 100%;
        }

        @media screen and (max-width: 568px) {
          left: 109px;
        }

        @media screen and (max-width: 480px) {
          left: 83px;
        }

        @media screen and (max-width: 375px) {
          left: 75px;
          width: 84%;
        }
      }
      &.active-scale {
        a {
          background: #2f80ed;
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        }
      }
    }
    .scale-no:last-of-type:before {
      display: none;
    }
  }
  .cart-inner {
    display: flex;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;

    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
    }

    .emptyState {
      text-align: center;
      font-size: 18px;
      margin: 50px 0;
      width: 100%;
    }

    .cart {
      background: #fff;
      padding: 20px;
      max-width: 61%;
      width: 100%;

      @media screen and (max-width: 1024px) {
        max-width: 100%;
      }

      .price-title {
        margin: 0 -20px 20px;
        padding: 0 20px 20px;
        border-bottom: solid 1px #d2d2d2;
        font-size: 24px;
        font-weight: 600;
      }

      .same-address {
        .address-box {
          max-width: 50%;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;

          @media screen and (max-width: 767px) {
            max-width: 100%;
          }

          label {
            margin-left: 10px;
            font-weight: normal;
            font-size: 14px;
          }
        }
      }

      .same-add-row {
        margin: 5px 0 0 0;

        h3 {
          margin: 0 0 18px 0;
        }
      }
    }

    .price-detail {
      background: #fff;
      padding: 20px;
      max-width: 419px;
      width: 100%;

      @media screen and (max-width: 1024px) {
        max-width: 100%;
        margin-top: 20px;
      }

      .price-title {
        margin: 0 -20px 20px;
        padding: 0 20px 20px;
        border-bottom: solid 1px #d2d2d2;
        font-size: 24px;
        font-weight: 600;
      }

      .price-row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin: 0 0 20px 0;

        .left-price {
          h3 {
            font-size: 14px;
            margin: 0;
            font-weight: 600;

            small {
              display: block;
              margin: 5px 0 0 0;
              font-size: 12px;
              color: #828282;
            }
          }
        }

        .mid-price {
          max-width: 20%;
          flex: 0 0 20%;
          margin: 0 5px 0 0px;

          @media screen and (max-width: 767px) {
            max-width: 25%;
            flex: 0 0 25%;
          }

          span {
            color: rgba(0, 0, 0, 0.5);
            font-size: 14px;
          }
        }

        .right-price {
          width: 50%;
          // flex: 0 0 20%;

          @media screen and (max-width: 767px) {
            max-width: 25%;
            flex: 0 0 25%;
          }
          h3 {
            font-size: 14px;
            margin: 0;
            font-weight: 600;
            text-align: right;
            span {
              font-size: 10px;
            }
          }
        }

        &.total-price {
          margin: 0 -20px 0 !important;
          border-top: solid 1px #d2d2d2;
          padding: 20px 20px 0;
          flex-direction: column;
          .left-price-spare {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            h3 {
              margin-top: 10px;
              font-size: 14px;
              font-weight: 600 !important;
              &:last-child {
                margin-left: 20px;
              }
            }
          }
        }

        .left-price {
          width: 50%;
          // flex: 0 0 60%;

          @media screen and (max-width: 767px) {
            max-width: 50%;
            flex: 0 0 50%;
          }
        }
      }
      button {
        margin: 30px 0 0 0;
        border: none;
        width: 100%;
        background: transparent;
        padding: 0;
        a {
          background: #2f80ed;
          border-radius: 5px;
          width: 100%;
          padding: 13px;
          color: #fff;
          font-size: 16px;
          text-transform: uppercase;
          display: inline-block;
          position: relative;
          text-align: center;
          &:hover {
            background: #333;
            color: #fff;
          }
        }
      }
      .sign-button-sec {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-left: -5px;
        margin-right: -5px;
        margin-top: 20px;
        @media screen and (max-width: 568px) {
          flex-wrap: wrap;
        }

        button {
          margin: 0 5px;
          @media screen and (max-width: 568px) {
            margin: 0 0 20px 0;
          }

          a {
            font-size: 13px;
            padding: 13px 10px;
          }
        }
      }
    }

    .cart-row-products {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin-bottom: 20px;
      background: none !important;
      padding: 0 !important;

      .left-cart {
        width: 100px;
        height: 100px;
      }
    }

    .cart-row {
      background: #ecf3f6;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      margin-bottom: 20px;

      @media screen and (max-width: 666px) {
        flex-wrap: wrap;
      }

      .left-cart {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        // max-width: 45%;
        // width: 45%;
        @media screen and (max-width: 480px) {
          max-width: 100%;
          width: 100%;
        }
        .cart-pic {
          // margin: 0 15px 0 0;
          padding: 4px;
          width: 100px;
          height: 100px;
          border: 1px solid #cbb400;
          border-radius: 4px;
          background: #cbb4;
          img {
            width: 100%;
            height: 100%;
            object-fit: fill;
          }
        }

        span {
          max-width: 200px;
          width: 100%;
          p {
            color: rgba(0, 0, 0, 0.5);
          }

          strong {
            font-size: 14px;
            font-weight: 600;
            margin: 0 0 5px 0;
            display: inline-block;
          }
        }
      }

      .right-cart {
        // width: 70px;
        // text-align: right;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #ECF3F6;
        width: 100%;
        padding: 8px;
        height: 80px;
        h3 {
          margin: 0;
          font-size: 16px;
          font-weight: bold;
          text-align: right;
          width: 90px;
        }

        span{
          width: 300px;
          text-align: left;
        }
      }

      .mid-cart {
        display: flex;
        align-items: center;
        justify-content: space-between;

        input[type="text"] {
          max-width: -webkit-max-content;
          max-width: -moz-max-content;
          max-width: max-content;
          width: 37px;
          text-align: center;
          border: none;
          height: 26px;
          margin: 0 8px;
        }
        span {
          background: #05294e;
          width: 36px;
          display: inline-block;
          height: 26px;
          margin: 0 0 0 0;
          color: #fff;
          text-align: center;
          font-size: 15px;
          font-weight: 500;
        }
      }
    }
  }
}
