.account-section {
  .order-sidebar {
    background: #fff;
    border: solid 1px #d2d2d2;
  }

  .order-status-sec {
    border: solid 1px #d2d2d2;
    max-width: 80%;
    width: 80%;
    margin: 0 auto;

    .table{
        tbody{
            tr{
                .right{
                    span{
                        display: none;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 767px) {
      max-width: 95%;
      width: 95%;
    }
    .order-row {
      border-top: none;
      padding-top: 0;
      .order-left {
        max-width: 100%;
        flex: auto;
        padding: 30px;

        @media screen and (max-width: 767px) {
          flex-wrap: wrap;
        }
        .order-img {
          width: 50px;
          height: 50px;
        }
        .order-desc {
          padding-left: 10px;
          width: 100%;
          div {
            width: 33.33%;
            float: left;
            h2 {
              font-size: 16px;
              margin: 0 0 5px 0;
              font-weight: 700;
            }
            &.right {
              text-align: center;
              padding: 22px 0 0;
            }
          }
          .order-delivery-status {
            display: block;
            width: 100%;
            padding: 40px 0 0;

            img {
              width: 100%;
            }
          }
        }
      }
      .detail-col {
        padding: 16px;
        span {
          display: block;
          padding: 5px 0 0;
          &.highlight {
            font-weight: 700;
          }
          .btn {
            width: 100%;
            color: #fff;
            text-transform: uppercase;
            font-weight: 600;
            padding: 10px 0;
            margin-bottom: 10px;
            &:hover {
              background: white !important;
              border: 1px solid #2f80ed;
              color: #333;
            }
            &.btn-blue {
              background: #2f80ed;
            }
            &.btn-red {
              background: #d27676;
            }
          }
          &.sm-text {
            font-size: 11px;
            color: #767676;
          }
        }
      }
    }

    .order-button-section {
      align-items: center;
      justify-content: space-between;
      padding: 0 0px 30px 0px;
      .order-white-button {
        background: #fff;
        border-radius: 4px;
        color: #2f80ed !important;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600;
        padding: 8px 4px;
        display: inline-block;
        border: solid 1px #2f80ed;
        margin-right: 8px;
        text-decoration: none;
        cursor: pointer;
        &:hover{
          background-color: #2f80ed;
          color: #fff !important;
        }
        .fa{ margin-right: 6px;}
      }
    }

    .button-section {
      align-items: center;
      justify-content: space-between;
      padding: 0 30px 30px 30px;
      // border-bottom: 1px solid #ccc;
      button {
        margin: 0 10px 0 0;
        border-radius: 2px;
        box-shadow: 0px -2px 3px #ccc;
        &.white-button {
          &:hover {
            color: #fff !important;
            background: #2f80ed;
          }
        }
        &.btn-manual {
          background-image: url(../../assets/images/icons/manual-bttn.png);
          background-repeat: no-repeat;
          background-position: 10px center;
          padding-left: 35px;
          &:hover {
            background-image: url(../../assets/images/icons/manual-bttn-white.png);
            background-repeat: no-repeat;
            background-position: 10px center;
          }
        }
        &.btn-warranty {
          background-image: url(../../assets/images/icons/warranty-bttn.png);
          background-repeat: no-repeat;
          background-position: 10px center;
          padding-left: 35px;
          &:hover {
            background-image: url(../../assets/images/icons/warranty-bttn-white.png);
            background-repeat: no-repeat;
            background-position: 10px center;
          }
        }
      }
      @media screen and (max-width: 1024px) {
        flex-wrap: wrap;
        justify-content: flex-start;
        button {
          margin: 0 15px 15px 0;
        }
      }

      @media screen and (max-width: 768px) {
        button {
          width: 100%;
        }
      }
    }
  }
}

.history {
  .order-list {
    margin-bottom: 20px;
    // float: left;
    display: block;
    height: 100px;
    .order-row {
      border: 1px solid #ededed;
      float: left;
      padding: 10px 0;
      width: 100%;
      @media screen and (max-width: 567px) {
        .col-xs-6 {
          padding-bottom: 10px;
        }
      }
      span {
        font-size: 12px;
        display: block;
        line-height: 20px;
        color: #333;
        &.bolder {
          font-weight: 700;
        }
        &.viewDetails {
          padding: 10px 0 0 0;
          text-align: right;
          a {
            background: #808080;
            color: #fff;
            padding: 10px 20px;
            border-radius: 5px;
            &:hover {
              text-decoration: none;
              background: #2f80ed;
            }
          }
        }
      }
    }
    .order-status {
      background: #ededed;
      float: left;
      width: 100%;
      padding: 8px 15px;
      font-weight: 700;
      font-size: 13px;
    }
  }
}
