.surfaceagri-section{
    table{
        width: 100%;

        tr{
            td{
                td {
                    border: solid 1px #d2d2d2;
                    padding: 10px;
                    text-align: center;
                }
            }
        }
    }
}